.idea
*.iml
.classpath
.npmignore
*~
.DS_Store
.tmp/
build/
public/
bower_components/
.grunt/
.sass-cache/
_UnitSpecRunner.html
svtibuilder_rsa
.project
.settings/
*.log

# node modules
**/node_modules/**
!node_modules/_

# bower components dir
client/lib/
